@model IEnumerable<IncomeMVC.Models.mvcIncomeModel>

@{
    ViewBag.Title = "Index";
}

<br />
@{
    var total = 0;
    foreach (var item in Model)
    {
        total += Convert.ToInt32(item.IncomeAmount);
    }
 }
    <p i style="font-size:24px;color:brown">Your total income for this week is @total.ToString()</p>
<br/> 
  
 <p>
        <a href="@Url.Action("AddorEdit","Incomes")" class="btn btn-default"> <i style="font-size:18px;" class="fas fa-plus-circle">Add new income</i></a>
    </p>
    <table class="table table-striped">
        <thead style="background-color:black; color:white;" class="table-bordered">
            <tr>

                <th>
                    Day
                </th>
                <th>
                    Total Income
                </th>
                <th>
                    Number of Orders
                </th>
                <th>
                    Month/Year
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IncomeDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthYear)
                </td>
                <td>
                    <a href="@Url.Action("AddorEdit","Incomes", new { id = item.IncomeID })" class="btn btn-default"> <i style="font-size:18px;margin-right:2px" class="fas fa-edit">Edit</i></a>

                    <a href="@Url.Action("AddorEdit","Incomes", new { id = item.IncomeID })" class="btn btn-default"> <i style="font-size:18px;margin-right:2px" class="fas fa-trash-alt">Delete</i></a>
                </td>

            </tr>
        }

    </table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (SuccessMessage != '')
                alertify.success(SuccessMessage);
        });
    </script>
    }
